<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="ag-memory-local" value="artifacts/local-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="ag-memory-local">
      <package pattern="Agm.Memory.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
